/* changing for smaller screen less than 768px */
/* better to split the screen and bring changes comparing the style.css and mobile.css */
/* for the navbar we compare */
#navbar .logo{
  float: none;
  text-align: center;

}
/* removing floats in #navbar ul and ul li
  basically overridding everything on the smaller screens */
#navbar ul, #navbar ul li{
  float: none;
}
#navbar ul li a{
  padding:5px;
  border-bottom: #444 dotted 1px;
}
/* Home info */
#home-info .info-img{
  display: none;
  }
  #home-info .info-content{
    float: none;
    width: 100%;
     }

/* boxes */
.box{
  float: none;
  width: 100%;

}
/* about page */

#about-info .info-right,
#about-info .info-left{
float: none;
width: 100%;
}
/* the image to close to the about hotel bt content 
  need to give some margin  */
  #about-info .info-right{
    margin-top:30px ;
  }

.l-heading{
  /* heading to the center */
  text-align: center;
}
/* testimonials */
/* just change the height from 600px to to 100% that is it */


/* contact page */
/* since we use some format for contact page so everything fine 
  however, we need to just add some border . */
  /* target contact-info box inside */
  #contact-info .box{
    border-bottom: #444444 dotted 5px;
  }
  /* Showcase */
  #showcase{
    height: 100%;
  }
  #showcase .showcase-content{
    /* removing some padding in showcase */
    padding-top: 70px;
    padding-bottom: 30px;
  }